<div class="bg">

<div fxLayoutAlign="center center" fxFlexFill class="main-div">    

  <mat-card fxFlex="25">

    <mat-toolbar color="accent" >Login</mat-toolbar>
      
    <form fxLayoutAlign="strech" fxLayout="column" class="login-form">
        <mat-form-field >         
          <input matInput placeholder="Username">
        </mat-form-field>
      
        <mat-form-field >         
            <input matInput type="password" placeholder="Password">
          </mat-form-field>

    <button mat-raised-button color="accent" type="submit"> Login </button>

      </form>

  </mat-card>

</div>

</div>