<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
          <div class="wrapper wrapper--w680">
              <div class="card card-4">
                  <div class="card-body">
                      <h2 class="title"><b>Enter Personal Details</b></h2>
                      <form method="POST">
                        <div class="form-row">
                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input type="text" class="input--style-5" type="text" name="first_name" placeholder="First name">                                          
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="last_name" placeholder="Last name">                                                
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="form-row">
                              <div class="col-12">
                                  <div class="input-group">
                                      <label class="label">Email</label>
                                      <div class="input-group-icon">
                                          <input class="input--style-4 js-datepicker" type="text" name="Email" placeholder="Email">
                                          <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12">
                                  <div class="input-group">
                                      <label class="label">Gender</label>
                                      <div class="p-t-10">
                                          <label class="radio-container m-r-45">Male
                                              <input type="radio" checked="checked" name="gender">
                                              <span class="checkmark"></span>
                                          </label>
                                          <label class="radio-container">Female
                                              <input type="radio" name="gender">
                                              <span class="checkmark"></span>
                                          </label>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="col-12">
                                    <div class="input-group">
                                          <label class="label">Blood Group</label>
                                          <div class="rs-select2 js-select-simple select--no-search">
                                              <select name="subject">
                                                  <option disabled="disabled" selected="selected">Choose blood group</option>
                                                  <option>B-Positive</option>
                                                  <option>A-Positive</option>
                                                  <option>O-Positive</option>
                                              </select>
                                              <div class="select-dropdown"></div>
                                          </div>
                                      </div>
                              </div>
                              <div class="col-12">
                                  <div class="input-group">
                                      <label class="label">Phone Number</label>
                                      <input class="input--style-4" type="text" name="phone">
                                  </div>
                              </div>
                          </div>

                          <div class="form-row">
                            <div class="col-12">
                                  <div class="input-group">
                                    <label class="label">Address</label>
                                    <textarea class="input--style-5" rows="2" cols="32" type="text" name="phone" placeholder="Enter address"></textarea>


                                      </div>
                                    </div>
                                </div>
                          <div class="p-t-15">
                              <button class="btn btn--radius-2 btn--blue" type="submit">Register</button>
                          </div>

                      </form>
                  </div>
              </div>
          </div>
      </div>
</body>
</html>
